body {
    background-image: url("deep_field.jpg");
    font-family: sans-serif;
}
@media screen and (max-width: 736px) {
    body {
        font-size: 75%;
    }
}

p {
    font-size: 130%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table tr {
    border-bottom: 2px solid black;
  }

  table tr:first-child {
    border-top: 2px solid black;
  }

.container {
    margin: auto;
    background-color: gainsboro;
    min-height: 100vh;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
}

#checkboxes {
    padding-bottom: 10px;
    text-align: center;
}

.checkbox_container {
    display: inline-block;
    padding: 10px;
    font-size: 130%;
}
@media screen and (max-width: 1280px) {

    .checkbox_container {
        padding: 5px;
    }
}

.arxiv_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.arxiv_link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.title {
    padding-bottom: 10px;
    font-size: 130%;
}


.author {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 130%;
}

.comms {
    padding-bottom: 10px;
    font-size: 110%;
    font-style: italic;
}

.subjs {
    padding-bottom: 20px;
    font-size: 110%;
    font-style: italic;
}

.links {
    padding-bottom: 10px;
    font-size: 300%;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:visited {
    color: steelblue;
}