---
layout: page
title: My work
permalink: '/my-work'
description: 'A meander into the world of astro</br> What I do, and what I love...'
image: assets/images/SE_img2.jpg
in_nav_menu: true
show_tile: true
tile_num: 2
---

<div id="postfeed">
    {% for post in site.posts %}
        <article class="post-preview">
            {% if post.preview_image %}
            <a href="{{ post.url }}" class="post-preview-image">
                <img src="{{ site.baseurl }}/{{ post.preview_image }}" alt="{{ post.preview_alt | default: post.title }}">
            </a>
            {% endif %}
            <div class="post-preview-description">
                <h2 class="underlined">
                    {% if post.preview_only %}
                    {{ post.title }}
                    {% else %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                </h2>
                <p>{{ post.description }}</p>
                {% unless post.preview_only %}
                <a href="{{ post.url }}" class="button special small">Read more</a>
                {% endunless %}
            </div>
        </article>
    {% endfor %}
</div>