<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
		{% assign pages = site.html_pages | sort: "tile_num" %}
		{% for page in pages %}
		    {% if page.in_nav_menu == true %}
				<li>
					{% if page.external_tile_url %}
						<a href="{{ page.external_tile_url }}" target="_blank" rel="noopener noreferrer">
							{{ page.title }} <span class="icon fa fa-link" style="font-size:0.8em;vertical-align:middle;" aria-label="External link"></span>
						</a>
					{% else %}
						<a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
					{% endif %}
				</li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
